@import 'react-datepicker/dist/react-datepicker.css';

.react-datepicker-wrapper {
    .react-datepicker__input-container input {
        @include mixin-input;
    }
}



    .react-datepicker {
        border: none;
        box-shadow: 0 0 20px 4px rgb(0 0 0 / 5%);
        border-radius: 20px;
        font-family: inherit;
    }
    
    .react-datepicker__header  {
        border-radius: 20px 20px 0 0;
        padding: 15px;
        border-bottom:1px solid $color-accent-light;
        background: $color-box;
    }

    .react-datepicker__navigation {
        top: 8px;
        &.react-datepicker__navigation--previous {
            left: 10px;
        }
        &.react-datepicker__navigation--next {
            right:10px;
        }
        .react-datepicker__navigation-icon::before {
            border-width: 3px 3px 0 0 !important;
        }
    }
    .react-datepicker__current-month {
        margin-bottom:10px;
    }
    .react-datepicker__day:hover {
        border-radius: 20px;    
        background-color: $color-hover;
    }
    .react-datepicker__day--selected, .react-datepicker__day--keyboard-selected, .react-datepicker__day--range-end {
        background-color: $color-accent!important;
        border-radius: 20px;
        color: #fff!important;
    }
    .react-datepicker__input-time-container {
        padding: 15px 22px;
        border-top: 1px solid $color-accent-light;
        margin: 0;
    }

    .react-datepicker-time__input input {
        @include mixin-input;
        padding: 4px 10px;
        margin-left: 0!important;
    }

    .react-datepicker__triangle {
        &::after, &::before {
            border-bottom-color: $color-box!important;
        }
    }

    .react-datepicker__day--in-range {
        border-radius: 50%;
        background-color: $color-accent-light;
        color: #000;
    }

    .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--selected) {
        border-radius: 50%;
        background-color: rgb(239,248,255)!important;
        color: #000;
    }
