
.settings-danger {

    .clear-cache-popup {

        .cache-notice {
            margin-top: 15px;
            .notice-title {
                font-weight: 600;
            }
            .notice-description {
                margin-top: 5px;
                color: $color-text-light;
            }
        }

    }

}