
.settings-general {
    .social-media {
        .global-dual-setting {
            padding: 7px 0;
            border: none!important;
            align-items: center;
            .input-view {
                margin-bottom: 0;
            }
            .dual-title {
                margin-bottom: 0;
            }
            .dual-right {
                flex:3;
            }
        }
    }

    .global-languages-list .lang-tag {
        margin-bottom:10px
    }

    .pointerEvent{
        pointer-events: none;
    }

}