.languages-view {

    .global-table-view {
        .table-head, .table-row {
            grid-template-columns: 1fr 1fr 1fr 60px;
        }
    }

    .default-tag {
        padding: 2px 6px;
        font-size: 9px;
        background: #886c6b;
        color: #fff;
        margin-left: 5px;
        border-radius: 20px;
        font-weight: 600;
    }

    .upgrade-view {
        width:500px;
        max-width: 100%;
        margin:30px auto;
    }
}