
.settings-navigations {

    .nav-table-wrap {
        margin-bottom: 25px;
        .nav-title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }

    .global-table-view {
        .table-head, .table-row {
            grid-template-columns: 1fr 1fr 60px;
        }
    }

}