@import './Languages.scss';
@import './Navigation.scss';
@import './Code.scss';
@import './General.scss';
<<<<<<< HEAD
@import './Tag.scss';
@import './Redirect.scss';
@import './User.scss';
@import './Route.scss';
=======
@import './Media.scss';

.settings-view {

    .middle-heading {
        justify-content: center;
        border-bottom:1px solid $color-accent-light;
        margin-bottom: 25px!important;
        padding-bottom: 25px!important;
    }

    .settings-nav {
        padding: 25px;
        overflow: auto;
        padding-top: 0;
        div {height:25px;}
        a {
            display: block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 20px;
            font-weight: 600;
            &:hover {
                background-color: $color-hover;
            }
            &.active {
                background: $color-accent-light;
            }
        }
    }

    .settings-right {
        padding: 30px 50px;
        overflow:auto;

        & > div > .title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom:20px;
        }
    }
}
>>>>>>> master

.settings-save {

    position: absolute;
    bottom: 20px;
    left: 0;
    width:100%;
    text-align: center;
    &.start {
        opacity: 0;
    }
    &.open {
        animation: .5s save-in ease-in-out both;
    }
    &.close {
        animation: .5s save-out ease-in-out both;
    }

    @keyframes save-in {
        0% {opacity:0;transform:scale(0.5)}
        75% {transform:scale(1.1)}
        100% {opacity:1;transform:scale(1)}
    }

    @keyframes save-out {
        100% {opacity:0;transform:scale(0)}
    }

}

.swift-settings {
    margin-left:50px;
    .global-dual-setting:first-child {
        border-top: 1px solid $color-accent-light;
    }
}