@import './Languages.scss';
@import './Navigation.scss';
@import './Code.scss';
@import './General.scss';
@import './Tags.scss';
@import './Redirect.scss';
@import './Users.scss';
@import './Route.scss';
@import './Media.scss';
@import './Highlight.scss';
@import './ApiKeys.scss';
@import './Webhooks.scss';

.settings-view {

    .middle-heading {
        justify-content: center;
        border-bottom:1px solid $color-accent-light;
        margin-bottom: 25px!important;
        padding-bottom: 25px!important;
    }

    .settings-nav {
        padding: 0 0 25px 0;
        overflow: auto;
        div {height:25px;}
        a {
            display: block;
            font-weight: 600;
            padding: 12px 29px;
            cursor: pointer;
            border-left: 3px solid transparent;
            &:hover {
                background-color: $color-hover;
            }
            &.active {
                background: $color-accent-active;
                border-color: $color-accent;
            }
        }
    }

    .settings-right {
        padding: 30px 50px 90px;
        overflow:auto;

        & > div > .title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom:20px;
        }
    }


    .CodeMirror {
        height: 200px;
    }
}

.settings-save {
    position: fixed;
    bottom: 15px;
    left: 610px;
    right: 15px;
    text-align: center;
    padding: 40px 20px 20px;
    background: linear-gradient(0deg, #fff, transparent);
    pointer-events: none;
    &.start {
        opacity: 0;
    }
    &.open {
        animation: .5s save-in ease-in-out both;
        pointer-events: initial;
    }
    &.close {
        animation: .5s save-out ease-in-out both;
    }

    @keyframes save-in {
        0% {opacity:0;transform:scale(0.5)}
        75% {transform:scale(1.1)}
        100% {opacity:1;transform:scale(1)}
    }

    @keyframes save-out {
        100% {opacity:0;transform:scale(0)}
    }

}

.swift-settings {
    margin-left:50px;
    .global-dual-setting:first-child {
        border-top: 1px solid $color-accent-light;
    }
}
