@import './Languages.scss';
@import './Navigation.scss';
@import './Code.scss';
@import './General.scss';
@import './Tags.scss';
@import './Redirect.scss';
@import './Users.scss';
@import './Route.scss';
@import './Media.scss';
@import './Highlight.scss';
@import './ApiKeys.scss';
@import './Webhooks.scss';
@import './Integrations.scss';
@import './Export.scss';
@import './Danger.scss';

:root {
    --color-hover: #{$color-hover};
    --color-input: #{$color-input};
    --colot-acent-active: #{color-accent-active};
    --color-gradient: #{$color-white};
    --color-discard-button: #{$color-white};
    --color-text-discard-button: #{$color-black};
  }
  
[data-theme="dark"] {
    --color-hover: #{$color-card-dark};
    --color-input: #{$color-input-dark};
    --colot-acent-active: #{color-accent-active-dark};
    --color-gradient: #{$color-black};
    --color-discard-button: #{$color-accent-active-dark};
    --color-text-discard-button: #{$color-white};
}


.settings-view {

    .middle-heading {
        justify-content: center;
        border-bottom:1px solid $color-accent-light;
        margin-bottom: 25px!important;
        padding-bottom: 25px!important;
    }

    .settings-nav {
        padding: 25px 0;
        overflow: auto;
        div {height:25px;}
        a {
            display: block;
            padding: 12px 29px;
            cursor: pointer;
            border-left: 3px solid transparent;
            &:hover {
                background-color: var(--color-hover);
            }
            &.active {
                background: var(--color-acent-active);
                border-color: $color-accent;
            }
        }
    }

    .global-languages-list {
        margin-top: 0;
    }

    .settings-right {
        padding: 25px 45px;
        overflow:auto;

        & > div > .title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom:15px;
        }

        .settings-title-row {
            text-align: center;
            .settings-title {
                font-size: 20px;
                font-weight: 600;
                margin-bottom:5px;
            }
            .settings-description {
                font-size: 14px;
                color: $color-text-light;
                width: 350px;
                margin: 0 auto;
            }
        }
    }

    // Selector only available in mobile view
    .settings-selector {
        display: none;
    }

    .CodeMirror {
        height: 200px;
    }
}

.settings-save {
    position: fixed;
    bottom: 15px;
    left: 610px;
    right: 15px;
    text-align: center;
    padding: 40px 20px 20px;
    background: linear-gradient(0deg, var(--color-gradient), transparent);
    pointer-events: none;
    &.start {
        opacity: 0;
    }
    .discard-button {
        background-color: var(--color-discard-button);
        color: var(--color-text-discard-button);
        margin-right: 15px;
    }
    &.open {
        animation: .5s save-in ease-in-out both;
        pointer-events: initial;
    }
    &.close {
        animation: .5s save-out ease-in-out both;
    }

    @keyframes save-in {
        0% {opacity:0;transform:scale(0.5)}
        75% {transform:scale(1.1)}
        100% {opacity:1;transform:scale(1)}
    }

    @keyframes save-out {
        100% {opacity:0;transform:scale(0)}
    }
    
    @media screen and (max-width: $breakpoint) {
        left: 0;
        right: 0;
    }

}

.swift-settings {
    margin-left:50px;
    .global-dual-setting:first-child {
        border-top: 1px solid $color-accent-light;
    }
}
