.settingsTag{
    // .title button{
    //     vertical-align: middle;
    //     margin-left: 6px
    // }
    
    .tag-title-bar{
        padding: 10px 10px 10px 12px;
        flex: 1;
        align-items: center;
        display: flex;
        margin-left: 285px;
    }
    .tag-title{
        font-weight: 600;
        font-size: 20px;
    }
    .tag-title-create-button{
        margin-left: 5px
    }
    
    .tag-button-popup{
        background-color: $color-accent-light;    
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        .popup-button-content{
            flex: 1;
            align-items: center;
            display: flex;
    
            .popup-button-content-text{
                margin-right: 5px;
            }
        }
    }
    .tag-popup-input{
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .table-code-pop-input{
        width: 200%;
        height: 100px;
        max-width: 200%;
    }
    .popup-width{
        .popup-wrap .popup{
            width: 500px;
        }
    }
}