.settingUser{

    .user-title-bar{
        padding: 10px 10px 10px 12px;
        flex: 1;
        align-items: center;
        display: flex;
        margin-left: 285px;
    }
    .user-title{
        font-weight: 600;
        font-size: 20px;
    }

    .user-title-create-button{
        margin-left: 5px
    }

    .user-button-popup{
        background-color: $color-accent-light;    
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        .popup-button-content{
            flex: 1;
            align-items: center;
            display: flex;
    
            .popup-button-content-text{
                margin-right: 5px;
            }
        }
    }

    .global-table-view .global-table-body .table-item {
        .user-role{
            background-color: $color-accent-light;
            width: 50px;
            text-align: center;
            border-radius: 20px;
            border: 1px solid transparent;
            transition: 0.3s;
            font-size: 12px;
        }
    }
    .popup-width{
        .popup-wrap .popup{
            width: 600px;
            max-height: 500px;
            overflow: auto;
        }
    }

    .container-file { 
        position:relative;
        padding:0;
        margin:0;
    }
    .input-file { 
        height:20px;
        margin:0;
        padding-left:30px;
        display:none;
    }

    .create-select {
        text-align: center;
        border-bottom: 1px solid $color-accent-light;
        margin-bottom: 15px;
        padding-bottom: 15px;
        span {
            cursor: pointer;
            display: inline-block;
            padding: 4px 10px;
            font-size: 12px;
            border-radius: 20px;
            transition: .1s background, .1s color;
            &.active {
                font-weight: 600;
                background: $color-accent;
                color: #fff;
            }
        }
    }

    .global-dual-setting:not(:first-child) {
        border-top: none;
    }

    .popup-type-margin{
        margin-bottom: 5px;
    }

    .isSynced{
        text-align: right;
        margin-top: 15px;

        input[type="checkbox"]{
            position: relative;
            top: -1px;
            width: 12px;
            height: 12px;
            margin: -1px 0px 0 0;
            vertical-align: middle;
            background: white left top no-repeat;
            border: 1px solid #ccc;
            cursor: pointer;
          }
          input[type="checkbox"]:checked {
            background: #D9534F -19px top no-repeat;
          }
          
          input[type="checkbox"] {
            margin-right: 4px;
          }
    }

    .pointerEvent{
        pointer-events: none;
    }
    .margin-top{
        margin-top:10px,
    }
}