.settings-users {

    .global-table-view {
        .table-head, .table-row {
            grid-template-columns: 2fr 1fr 2fr 1fr 60px;
        }
    }

    .slug-row {
        margin-top: 3px;
    }

    .resend-email {
        font-size: 10px;
    }
    .status-tag .global-tag {
        margin: 0;
    }

    .user-create-popup {
        .user-type {
            text-align: center;
        }
        .user-data {
            padding: 0 25px;
        }
    }

}