@import '../colors.scss';


.input {
    width: 100%;
    padding: 9px 15px;
    border-radius: 20px;
    border:none;
    background:$color-input;
    font-family: inherit;
    transition:.3s box-shadow;
}
.input:focus {
    outline: 0;
    box-shadow: 0 0 2px 0px $color-accent;
}

.text-normal {
    color: #000;
}
.text-light {
    color:#666;
}

.box {
    background-color: $color-box;
    box-shadow: 0 0 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
}

.round-image-40 {
    border-radius: 50%;
    width:40px;
    height:40px;
}


.post-tag {
    font-size: 11px;
    background: #eee;
    padding: 2px 7px;
    border-radius: 20px;
    font-weight: 600;
}

.input-view {
    margin-bottom:15px;
    .input-top {
        display:flex;
        align-items:center;
    }
    .input-title {
        margin-bottom: 5px;
        flex:1;
    }
    .input-error {
        font-size: 12px;
        color: #d64541;
    }
    .input-success {
        font-size:12px;
        color: #3d9a51;
    }
    &.error input {
        background: #ffe1e0;
    }
    .input-bottom {
        margin-top:5px;
    }
}

svg, img, span {
    vertical-align: middle;
}

// select
.react-select {
    &.react-select-small {
        .react-select__control {
            display:flex;
            min-height: initial;
            border-radius: 20px;
            background: $color-input;
            font-size: 12px;
            border:none;
            transition:.3s box-shadow;
            &--is-focused {
                box-shadow: 0 0 2px 0px $color-accent;
            }
        }
        .react-select__menu {
            width:150px;
            box-shadow: 0 0 9px 4px rgb(0 0 0 / 5%);
            border-radius: 20px;
        }
        .react-select__menu-list {
            padding: 10px;
        }
        .react-select__option {
            border-radius: 20px;
            transition:.1s background;
            cursor: pointer;
        }
        .react-select__option--is-focused {
            background: $color-accent-light;
        }
        .react-select__option--is-selected {
            background: $color-accent;
        }
        .react-select__single-value  {
            text-overflow: initial;
            color:inherit;
        }
        .react-select__indicator-separator {
            display:none;
        }
        .react-select__indicator {
            padding: 0;
            padding-right: 4px;
            svg {height:12px;width:12px;}
        }
        .react-select__input-container {
            margin:0;
            padding:0;
        }
        .react-select__value-container {
            padding: 6px;
            padding-right: 0;
        }
    }
}


.global-loader {
    svg {
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    @keyframes lds-heart {
        0% {
          transform: scale(0.95);
          opacity: 0.5;
        }
        5% {
          transform: scale(1.1);
        }
        39% {
          transform: scale(0.85);
        }
        45% {
          transform: scale(1);
        }
        60% {
          transform: scale(0.95);
        }
        100% {
          transform: scale(0.9);
          opacity: 0.9;
        }
      }
}

.global-tag-role {
    font-size: 8px;
    text-transform: uppercase;
    padding: 1px 7px;
    display: inline-block;
    background: #f0e7e8;
    border-radius: 20px;
}