@import '../normalize';
@import '../font';
@import './common';
@import '../colors';

@import './components/button.scss';
@import './components/popup.scss';
@import './components/table.scss';
@import './components/radio.scss';

@import './Editor.scss';

@import './scenes/Billing.scss';
@import './scenes/Theme.scss';

@import './scenes/NewBlog.scss';

@import './scenes/Settings/settings.scss';

body {
    background-color: $color-accent-very-light;
    color: $color-text;
    overflow: hidden;
}

#left {
    position:absolute;
    left:15px;
    top:15px;
    width:250px;
    padding-bottom:15px;
}
#left-header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    margin-bottom:15px;

    // .left-header-pp {

    // }

}
#left-nav {
    font-weight: 600;
    padding:15px;
    a {
        display: flex;
        padding: 12px 18px;
        cursor: pointer;
        border-radius:20px;
        &:hover {
            background-color: $color-hover;
        }
        &.active {
            background: $color-accent-light;
        }

        .name {
            flex:1;
        }
        .mark {
            .trial-days-left {
                display:inline-block;
                font-size: 11px;
                padding:1px 6px;
                border-radius: 20px;
                background-color: $color-blue-light;
                color: $color-blue-dark;
            }
            .subscription-issue-icon {
                display: inline-flex;
                align-items:center;
                justify-content: center;
                width:20px;
                height:20px;
                border-radius: 50%;
                background-color: $color-orange-light;
                color: $color-orange-dark;
            }
        }
    }
    .left-divider {
        height:25px;
    }
    .blog-selector {
        position:relative;
        margin-bottom:24px;
        &:after {
            position: absolute;
            content: "";
            width:85%;
            left:50%;
            bottom:-12px;
            transform: translateX(-50%);
            height:1px;
            background: $color-accent-light;
        }
        .value {
            display:flex;
            cursor: pointer;
            padding: 12px 18px;
        }
        .name {
            flex:1;
        }
        .popup-list {
            position:absolute;
            width:340px;
            transition:.125s transform, .125s opacity;
            left:100%;
            top:-15px;
            z-index: 1;
            padding:15px;
            
            &.active {
                pointer-events: auto;
                opacity: 1;
                transform:translateX(0px);
            }
            &.inactive {
                pointer-events: none;
                opacity: 0;
                transform:translateX(-20px);
            }
            .create-button-view {
                margin-top:15px;
                margin-bottom:5px;
                text-align: center;
            }

            .blog-list {max-height: 350px;overflow:auto}

            .blog {
                padding: 6px 15px;
                border-radius: 20px;
                cursor: pointer;
                &:hover {
                    background-color: $color-hover;
                }
                &.active {
                    background-color: $color-accent-light;

                    .global-tag-role {background-color:#fff}
                }
                .blog-name {
                    flex:1;
                }
                .blog-row {
                    display:flex;
                    align-items: center;
                    &:nth-child(2) {
                        color: $color-text-light;
                        font-size: 11px;
                    }
                }
                .row-left {
                    flex:1;
                }
                .row-right {
                    text-align: right;
                }
                .plan-name {
                    font-size:11px;
                    margin-right:6px;
                }
            }
        }
    }
}

#middle {
    position: absolute;
    top: 0;
    left: 265px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 15px;

    .posts-view {
        display:flex;
        height:100%;
        .box-left {
            width:315px;
            margin-right:15px;
            display:flex;
            flex-direction: column;
            flex-shrink: 0;
        }
        .box-right {
            flex:1;
            min-width: 0; // stop overflowing https://stackoverflow.com/a/66689926
        }
        .box {
            height:100%;
        }
        .middle-heading {
            margin-bottom:15px;
            div {
                flex:1;
            }
        }

        .posts-filtering {
            padding: 15px 25px;
            border-bottom:1px solid $color-accent-light;
            border-top:1px solid $color-accent-light;
            font-size:12px;
            .post-filters {
                display: flex;
                .filter-label {
                    display:flex;
                    .name {
                        text-transform: capitalize;
                        flex:1;
                    }
                    .count {
                        font-size: 10px;
                        margin-left: 4px;
                        display: inline-flex;
                        width: 18px;
                        height: 18px;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-weight: 600;
                    }
                }
            }
            .posts-filter {
                flex:1;
                &:not(:last-child) {
                    margin-right:3px;
                }
                .posts-filter-name {
                    margin-bottom:2px;
                    text-align:center;
                    text-transform: uppercase;
                    font-size: 8px;
                }
            }
            .post-search-and-lang {
                margin-top: 6px;
                font-size: 12px;
                display:flex;
                .post-search {
                    flex:3;
                    input {
                        padding: 7px 15px;
                        line-height: 14px;
                    }
                }
                .post-lang {
                    flex:1;
                    .posts-filter-name {
                        display:none;
                    }
                    .posts-filter {
                        margin-right:0;
                        margin-left:3px;
                    }
                }
            }
        }

        .posts-list {
            overflow: auto;
            flex:1;
        }
        .posts-loading {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .posts-loaded-wrap {
            animation: posts-loaded-wrap .3s;
            padding: 15px;
            @keyframes posts-loaded-wrap {
                0% {opacity: 0;transform:translateY(10px)}
                100% {opacity: 1;transform:translateY(0)}
            }
        }
        .posts-list-item {
            display: block;
            padding: 15px 20px;
            border-radius: 20px;
            position: relative;

            &:not(:last-child):after {
                content: "";
                position: absolute;
                width: 85%;
                background: $color-accent-light;
                bottom: 0;
                height: 1px;
            }

            .post-title {
                font-weight:600;    
                word-break: break-all;
            }

            .post-data {
                margin-top:4px;
            }
            .post-author, .post-date {
                font-size:12px;
                color:$color-text-light;
                margin-top:1px;
            }
            &:hover {
                background: $color-hover;
            }
            &.active {
                background: $color-accent-light;
            }


            .posts-status-wrap {
                margin-bottom: 4px;
            }

            .post-status {
                font-weight: 600;
                font-size: 8px;
                text-transform: uppercase;
                padding: 1px 7px;
                border-radius: 20px;
                &.scheduled {
                    background: $color-blue-light;
                    color: $color-blue-dark;
                }
                &.draft {
                    background: #767676;
                    color: $color-text-white;
                }
                &.deleted {
                    background: $color-red-light;
                    color: $color-red-dark;
                }
                &.published {
                    background: $color-green-light;
                    color: $color-green-dark;
                }
            }

            .post-tags-wrap {
                margin-top:8px;
                display:flex;
            }

            .post-tags {
                flex:1;
            }
        }

        .post-editor {
            position: relative;
            height:100%;

            .post-editor-top {
                position:relative;
                border-bottom:1px solid $color-accent-light;
                width:700px;
                margin:auto;
            }
            .post-editor-title-row {
                display:flex;
                position:relative;
            }
            .title-textarea-wrap {
                flex:1;
            }

            .post-editor-wrap {
                flex:1;
                overflow:auto;
            }

            .pos-rel {
                position: relative;
                display: flex;
                height: 100%;
                flex-direction: column;
            }

            &.fullscreen {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                z-index: 10;
                overflow:auto;
                .pos-rel {
                    display:block; /** not flex, so that heading does not stick */
                }
            }

            /* .cover-image {
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0.2;
                border-radius: 20px 20px 0 0;
            } */
            .post-editor-title {
                padding: 30px;
                padding-bottom: 10px;
                font-size: 30px;
                font-weight: 600;
                outline: none;
                word-break: break-all;
                resize: none;
                border: 0;
                display: block;
                width: 100%;
                background:none;
            }
            .publish-buttons {
                .saving {
                    color: #777;
                    font-size: 12px;
                }
                button.main-button {
                    display:inline-flex;
                    align-items: center;
                    span{margin-right:6px} svg {width:9px}
                }
                button {
                    margin-left: 9px;
                }
            }
            .post-editor-settings {
                position:relative;
                padding: 0 30px;
                margin-bottom: 25px;
            }
            .post-editor-settings-buttons {
                display:flex;
                .left {
                    flex:1;
                }
                button {
                    span {
                        margin-right:5px;
                    }
                    margin-right:8px;
                }
            }
            .settings-view-wrap {
                position:absolute;
                width:100%;
                left:0;
                z-index: 1;
                transition:.125s transform, .125s opacity;
                &.active {
                    pointer-events: auto;
                    opacity: 1;
                    transform:translateY(0px);
                }
                &.inactive {
                    pointer-events: none;
                    opacity: 0;
                    transform:translateY(-10px);
                }
                .setting-select {
                    text-align: center;
                    padding: 20px;
                    border-bottom: 1px solid $color-accent-mid;
                    span {
                        cursor: pointer;
                        display: inline-block;
                        padding: 4px 10px;
                        font-size: 12px;
                        border-radius: 20px;
                        transition: .1s background, .1s color;
                        &.active {
                            font-weight: 600;
                            background: $color-accent;
                            color: #fff;
                        }
                    }
                }
                .setting-show {
                    padding:20px;
                }
            }
            .post-editor-settings-view {
                background: $color-accent-light;
                margin-left: 30px;
                margin-right: 60px;
                margin-top: 14px;
                min-height: 200px;
                border-radius: 20px;
                position: relative;
                &:before {
                    position: absolute;
                    content: "";
                    left: 30px;
                    bottom: 100%;
                    border: 10px solid #f0e7e8;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }

            .post-setting {
                margin-bottom:15px;
                flex:1;
                .post-setting-title {
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                .input {
                    background: #fff;
                }

                &.post-setting-description textarea {
                    height: 150px;
                    padding: 15px;
                    margin: 0px;
                    resize: none;
                }
                &.post-setting-featured-image .image-uploader {
                    width: 100%;
                    height: 150px;
                    background: #fff;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $color-text-light;
                    cursor: pointer;
                }
            }
            .post-setting-dual {
                display: flex;
                .post-setting:first-child {
                    margin-right:15px;
                }
            }
        }
    }

    .blog-preview-view {

        overflow:hidden;
        display: flex;
        flex-direction: column;
        height:100%;

        .navi {
            padding: 15px 20px;
            font-size: 16px;
            border-bottom: 1px solid $color-accent-light;
            display: flex;
            align-items: center;
            .left {    
                flex: 1;
                font-size: 14px;
                font-weight: 600;
            }
            .right {
                span {
                    display: inline-flex;
                    width: 30px;
                    height: 30px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    cursor: pointer;
                    &:first-child {margin-right: 5px;}
                    transition:.3s background-color, .3s color;
                    &.active {
                        background-color:$color-accent;
                        color:#fff;
                    }
                }
            }
            
        }
        .iframe {
            flex: 1;
            display:flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position:relative;
            iframe {
                max-width: 100%;
                max-height: 100%;
                border: none;
                transition: .3s width, .3s height;
                animation: preview-iframe .5s;
                @keyframes preview-iframe {
                    0% {opacity: 0;transform:translateY(30px)}
                    100% {opacity: 1;transform:translateY(0)}
                }
            }
        }

    }


    // commons
    .middle-heading {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 600;
        padding: 0 25px;
        display:flex;
    }
}

.settings-view {

    .middle-heading {
        justify-content: center;
        border-bottom:1px solid $color-accent-light;
        margin-bottom: 25px!important;
        padding-bottom: 25px!important;
    }

    .settings-nav {
        padding: 25px;
        overflow: auto;
        padding-top: 0;
        div {height:25px;}
        a {
            display: block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 20px;
            font-weight: 600;
            &:hover {
                background-color: $color-hover;
            }
            &.active {
                background: $color-accent-light;
            }
        }
    }

    .settings-right {
        padding: 30px 50px;
        overflow:auto;

        & > div > .title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom:20px;
        }
    }
}

.setting-users {
    .users-view {
        .users {
            margin: 20px 0;
            .user-row {
                display: flex;
                align-items: center;
                padding: 15px;
                cursor: pointer;
                border-radius: 20px;
                &:hover {
                    background-color: $color-hover;
                }
            }
            .user-left {
                flex: 1;
                img {
                    width: 40px;
                    border-radius: 50%;
                    height: 40px;
                    margin-right: 7px;
                }
                .user-name {
                    display: inline-flex;
                    align-items: center;
                }
                .user-name-email {
                    display:inline-flex;
                    flex-direction: column;
                }
            }
        }
    } 

}

.setting-media {
    .title {
        button {
            vertical-align:middle;
            margin-left:6px;
        }
    }
    .settings-media-wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .media-item-view {
        width: 25%;
        margin-bottom:10px;
        .media-wrap {
            display: block;
            cursor: pointer;
            overflow: hidden;
            background: $color-accent-light;
            border-radius:20px;
            margin-left:10px;
            transition: .1s box-shadow;
            position: relative;
            height: 100%;
            &:hover {
                box-shadow: 0 0 15px rgba(0,0,0,0.05);
            }
        }
        .img-wrap {
            padding-bottom:100%;
            background-position: center;
            background-size: cover;
        }
        .extension, .loader-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 600;
            color: $color-text-light;
        }
        .media-data {
            padding: 6px 15px;
            font-size: 12px;
            text-align: center;
            .media-title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .media-at {
                font-size: 10px;
            }
        }
        .media-delete {
            position: absolute;
            top: 10px;
            right: 10px;
            background: $color-red;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            opacity: 0;
            transition:.3s opacity;
        }
        &:hover {
            .media-delete {
                opacity:1;
            }
        }
    }
}