$breakpoint: 1200px;


@import '../normalize';
@import '../font';
@import './common';
@import '../colors';

@import './components/button.scss';
@import './components/popup.scss';
@import './components/table.scss';
@import './components/radio.scss';
@import './components/checkbox.scss';
@import './components/datepicker.scss';
@import './components/image-selector.scss';

@import './Editor.scss';

@import './scenes/Welcome.scss';
@import './scenes/BlogPreview.scss';
@import './scenes/Comments.scss';
@import './scenes/Billing.scss';
@import './scenes/Theme.scss';
@import './scenes/Posts/posts.scss';
@import './scenes/NewBlog.scss';
@import './scenes/Views.scss';

@import './scenes/Settings/settings.scss';

:root {
    --body-background: #{$color-accent-very-light};
    --text-color: #{$color-black};
  }
  
[data-theme="dark"] {
    --body-background: #{$color-accent-very-light-dark};
    --text-color: #{$color-text-dark};
}

body {
    background-color: var(--body-background);
    color: var(--text-color);
    overflow: hidden;
}

@import './left.scss';

#middle {
    position: absolute;
    top: 0;
    left: 265px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 15px;


    // commons
    .middle-heading {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 600;
        padding: 0 25px;
        display:flex;
    }
}

.load-language{
    position: absolute;
    top: 50%;
    left: 265px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 15px;
}

/* .setting-users {
    .users-view {
        .users {
            margin: 20px 0;
            .user-row {
                display: flex;
                align-items: center;
                padding: 15px;
                cursor: pointer;
                border-radius: 20px;
                &:hover {
                    background-color: $color-hover;
                }
            }
            .user-left {
                flex: 1;
                img {
                    width: 40px;
                    border-radius: 50%;
                    height: 40px;
                    margin-right: 7px;
                }
                .user-name {
                    display: inline-flex;
                    align-items: center;
                }
                .user-name-email {
                    display:inline-flex;
                    flex-direction: column;
                }
            }
        }
    } 

} */



@import './Mobile.scss';