@import '../colors.scss';

:root {
    --color-hover: #{$color-hover};
    --color-acent-active: #{$color-accent-active};
    --color-text-light: #{$color-text-light};
    --color-tag-active: #{$color-white};
  }
  
[data-theme="dark"] {
    --color-hover: #{$color-hover-dark};
    --color-acent-active: #{$color-accent-active-dark};
    --color-text-light: #{$color-text-light-dark};
    --color-tag-active: #{$color-black};
}


#left-header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    margin-bottom:15px;

    // .left-header-pp {

    // }

    .console-link.active img {
        box-shadow: 0 0 3px 1px $color-accent;
    }

}
#left-nav {
    padding: 15px 0 30px;

    .nav-link {
        display: flex;
        padding: 12px 29px;
        cursor: pointer;
        border-left:3px solid transparent;
        position: relative;
        align-items: center;
        &:hover {
            background-color: var(--color-hover);
        }
        &.active {
            background: var(--color-acent-active);
            border-color: $color-accent;
        }

        svg {
            margin-right: 8px;
            width: 15px;
            height: 25px;
        }

        .name {
            flex:1;
        }

        .mark {
            .trial-days-left {
                display:inline-block;
                font-size: 11px;
                padding:1px 6px;
                border-radius: 20px;
                background-color: $color-blue-light;
                color: $color-blue-dark;
                &.red {
                    background-color: $color-red-light;
                    color: $color-red-dark;
                }
            }
            .subscription-issue-icon {
                display: inline-flex;
                align-items:center;
                justify-content: center;
                width:20px;
                height:20px;
                border-radius: 50%;
                background-color: $color-orange-light;
                color: $color-orange-dark;
                svg {
                    margin-right: initial;
                }
            }
            
            .blog-link {
                position: absolute;
                top: 9px;
                right: 30px;
                display: inline-flex;
                align-items:center;
                justify-content: center;
                width:24px;
                height:24px;
                border-radius: 50%;
                &:hover {
                    background-color: $color-accent-light;
                    box-shadow: 0 0 4px $color-box-shadow;
                }
                svg {
                    margin: 0;
                    width: 12px;
                    height: 12px;
                }
                .popup-wrap {
                    cursor: initial;
                }
            }
        }
    }
    .left-divider {
        height:25px;
    }
    .blog-selector {
        position:relative;
        margin-bottom: 24px;
        padding: 0 15px;
        &:after {
            position: absolute;
            content: "";
            width:85%;
            left:50%;
            bottom:-12px;
            transform: translateX(-50%);
            height:1px;
            background: $color-accent-light;
        }
        .value {
            display:flex;
            cursor: pointer;
            padding: 12px 18px;
        }
        .name {
            flex:1;
        }
        .popup-list {
            position:absolute;
            width:400px;
            transition:.125s transform, .125s opacity;
            left:100%;
            top:-15px;
            z-index: 1000;
            padding:25px 0 15px 0;
            
            &.active {
                pointer-events: auto;
                opacity: 1;
                transform:translateX(0px);
            }
            &.inactive {
                pointer-events: none;
                opacity: 0;
                transform:translateX(-20px);
            }
            .create-button-view {
                margin-top:15px;
                margin-bottom:5px;
                text-align: center;
            }

            .blog-list {
                max-height: 350px;overflow:auto;

                &.dragging {
                    .blog, .blog .sort-icon-wrap {
                        cursor: grabbing!important;
                    }
                }
            }

            .blog {
                padding: 6px 25px;
                cursor: pointer;
                display:flex;
                align-items: center;
                &:hover {
                    background-color: var(--color-hover);
                }
                &.active {
                    background-color: var(--color-acent-active);
                    border-left: 3px solid $color-accent;

                    .global-tag-role {background-color:var(--color-tag-active);}
                }
                &.sortable-chosen, &.sortable-ghost {
                    cursor: grabbing!important;
                    user-select: none;
                }
                .blog-row-wrap {
                    flex:1;
                }
                .text-subdomain {
                    color: var(--color-text-light);
                }
                .sort-icon-wrap {
                    margin-left: 10px;
                    cursor: grab;
                }
                .blog-name {
                    flex:1;
                }
                .blog-row {
                    display:flex;
                    align-items: center;
                    &:nth-child(2) {
                        color: $color-text-light;
                        font-size: 11px;
                    }
                }
                .row-left {
                    flex:1;
                }
                .row-right {
                    text-align: right;
                }
                .plan-name {
                    font-size:11px;
                    margin-right:6px;
                }
            }
        }
    }
}

#left-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 0;
    .changes-item {
        padding: 15px 0;
        text-align: center;
        cursor: pointer;
    }
    .bottom-item {
        display: block;
        padding: 8px 29px;
        border-radius: 20px;
        cursor: pointer;
        color: $color-text-light;
        &:hover {
            background-color: $color-accent-light;
        }
        .icon {
            margin-right: 8px;
        }
    }

    #fb-update-badge {
        display: inline-block;
        padding: 2px 6px;
        border-radius: 20px;
        font-size: 9px;
        font-weight: 600;
        background-color: $color-blue-light;
        color: $color-blue-dark;
        &:empty {
            display: none;
        }
    }

    @media screen and (max-width: $breakpoint) {
        display: none;
    }
}

#left {

    position:absolute;
    left:15px;
    top:15px;
    width:250px;
    padding-bottom:15px;
    display: flex;
    flex-direction: column;
    height: 100%;

   .dark-mode-row {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

    .dark-mode-switch {
        margin-left: 10px
    }
   }

   .blog-creation-button {
        color: var(--color-text-light);
    }

    @media screen and (max-width: $breakpoint) {

        left: 0;
        top: 0;
        width: 100%;
        #left-header {
            background: transparent;
            box-shadow: none;
            padding: 10px;
            border-bottom: 1px solid $color-accent-light;
            border-radius: 0;
            margin-bottom: 0;
        }
        .blog-selector {
            position: absolute;
            top: 0;
            left: 60px;
            right: 60px;
            padding-top: 5px;
            text-align: center;
            .value {
                margin-top: 4px;
            }
            &:after {
                display:none;
            }
            .popup-list {
                text-align:initial;
                top: 100%;
                left: 50%;
                &.active {
                    transform: translateX(-50%) translateY(0);
                }
                &.inactive {
                    transform: translateX(-50%) translateY(-30px);
                }
            }
        }
        #left-nav {
            background: transparent;
            box-shadow: none;
            display: flex;
            padding: 0;
            border-bottom: 1px solid $color-accent-light;
            border-radius: 0;
            a {
                flex: 1;
                text-align: center;
                display: block;
                border-left-width: 0;
                border-top: 3px solid transparent;
                padding: 15px 0;
                &.active {
                    border-top-color: $color-accent;
                }
                .name, .mark {
                    display: none;
                }
            }
            .left-divider {
                display:none;
            }
        }

    }

}