@media screen and (max-width: $breakpoint) {

    body {
        overflow: auto;
        width: initial;
        height: initial;
        padding-bottom: 70px;
    }
    

    #middle {
        overflow-x: hidden;
        position:relative;
        margin-top:140px;
        left: initial;
        padding: 0;

        .posts-view {
            display: block;
            #posts-selector {
                position: relative;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            .post-filters {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                
            }
            .posts-filter {
                width: 50%;
                margin: 0
            }
            .posts-filter-select-wrap {
                margin-bottom: 5px;
            }
            .post-search {
                width: 100%;
            }
            .posts-list-item{
                grid-template-columns: repeat(2, 1fr) 150px;
                display: flex;
                flex-direction: column;
                border-bottom:1px solid $color-accent-light;
                margin-bottom: 25px!important;
            }
            .box-left {
                margin: 0 auto;
            }
        }

        .blog-preview-view {

            border-radius: 0;
            box-shadow: none;

            .navi .right {
                display: none;
            }

        }

        .billing-view {

        }

        .settings-view {
            .settings-nav {
                display: none;
            }
            .middle-heading {
                display: none;
            }
            .settings-selector {
                font-size: 20px;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-bottom:1px solid $color-accent-light;
                margin-bottom: 25px!important;
                padding-bottom: 20px;
            }
            .settings-right {
                padding: 20px 20px 90px;
                overflow:auto;
        
            }        
        }
    }

    #left-bottom {
        margin-top: 60px;
        position: fixed;
        .changes-item {
            padding: 15px 15px;
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%); /* to center horizontally */
        }
    }

    .CodeMirror {
        .CodeMirror-scroll {
            overflow-x: visible!important;
        }
    }

}