@media screen and (max-width: $breakpoint) {

    body {
        overflow: auto;
        width: initial;
        height: initial;
        padding-bottom:30px;
    }

    #middle {
        position:relative;
        margin-top:140px;
        left: initial;
        padding: 0;

        .posts-view {
            display: block;
            #posts-selector {
                position: relative;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            .post-filters {
                display: flex;
                flex-direction: column;
            }
            .posts-filter {
                margin-bottom: 5px;
            }
        }

        .blog-preview-view {

            border-radius: 0;
            box-shadow: none;

            .navi .right {
                display: none;
            }

        }

        .billing-view {

        }
    }


}