@media screen and (max-width: $breakpoint) {

    body {
        overflow: auto;
        width: initial;
        height: initial;
        padding-bottom:30px;
    }

    #middle {
        position:relative;
        margin-top:140px;
        left: initial;
        padding: 0;

        .posts-view {
            display: block;
            #posts-selector {
                position: relative;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            .post-filters {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
            .posts-filter {
                margin-bottom: 5px;
            }
            .posts-list-item{
                grid-template-columns: repeat(2, 1fr) 150px;
            }
            .box-left {
                margin: 0 auto;
            }
        }

        .blog-preview-view {

            border-radius: 0;
            box-shadow: none;

            .navi .right {
                display: none;
            }

        }

        .billing-view {

        }
    }

    #left-bottom {
        position: fixed;
        .changes-item {
            padding: 15px 15px;
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%); /* to center horizontally */
        }
    }

    .CodeMirror {
        .CodeMirror-scroll {
            overflow-x: visible!important;
        }
    }

}