APP_NAME="Hyvor Blogs"
APP_ENV=local
APP_KEY=base64:XOpWztMz2EsJT/TF7QzscDfgUUCO3a+A6c9oP37l4UI=
APP_DEBUG=true
APP_URL=http://blogs.hyvor.test:8080

DOMAIN_APP=blogs.hyvor.test
DOMAIN_DELIVERY=hyvorblogs.test
DOMAIN_HYVOR=hyvor.test

# HYVOR Connecter
HYVOR_DUMMY=true

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hyvor_blogs
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

###### OPTIONAL SERVICES

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_BUCKET=
S3_USE_PATH_STYLE_ENDPOINT=


PADDLE_VENDOR_ID=
PADDLE_VENDOR_AUTH_CODE=
PADDLE_PUBLIC_KEY=
PADDLE_SANDBOX=

IFRAMELY_KEY=

UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=

SCOUT_DRIVER=
MEILISEARCH_HOST=

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=