### ============ APP ============ ###

# HYVOR Instance URL
# Set this to URL where HYVOR Core is running
HYVOR_INSTANCE=https://hyvor.localhost

# Comms API key
COMMS_KEY="BXnQt5EOIT3NwHYvJ0diIa+6iK1YeVTjQfz6XVSFHFg="

# Environment the app is running.
#   "local" - for development
#   "staging" - for staging deployments
#   "production" - for production deployments
APP_ENV=local

# Laravel encryption key
# This key must be the same for all hyvor components (core, talk, blogs)
# It is used to encrypt sensitive data and secure internal communication between components
# Run `php artisan key:generate --show` to generate the key
APP_KEY="base64:FCbEFX4vzIz61bbm89fKFkUCkoLbXYuz8EPmkiRy2JA="

# Enable/disable debugging
# Only set to true on non-production envs
APP_DEBUG=true

# URL of the APP
# Only supported https
# For most production deployments, keep it empty
APP_URL=https://blogs.hyvor.localhost

# Domains of the app

# Main app domain
DOMAIN_APP=blogs.hyvor.localhost
# Base domain for delivery (subdomain blogs)
DELIVERY_DOMAIN=hyvorblogs.localhost # deprecated
DELIVERY_URL=http://hyvorblogs.localhost

### ============ DATABASE ============ ###

# Postgres
# ----
# This is the primary source of truth for the app
DB_HOST=hyvor-service-pgsql
DB_PORT=5432
DB_DATABASE=hyvor_blogs
DB_USERNAME=postgres
DB_PASSWORD=postgres

### ============ FILE STORAGE ============ ###

# You can use any S3-compatibly storage like
# Cloudflare R2, DigitalOcean Spaces, Minio
# See https://hyvor.com/docs/hosting/handbook#file-storage
FILESYSTEM_DRIVER=s3
S3_ACCESS_KEY_ID=minio
S3_SECRET_ACCESS_KEY=miniopwd
S3_ENDPOINT=http://hyvor-service-minio:9000
S3_BUCKET=blogs
S3_USE_PATH_STYLE_ENDPOINT=true


### ============ MAIL ============ ###

# See https://hyvor.com/docs/hosting/handbook#mail
MAIL_MAILER=smtp
MAIL_HOST=hyvor-service-mailpit
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=


### ============ EXTERNAL SERVICES ============ ###

# Unsplash for image search
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=

# DeepL
# Used for translations
DEEPL_API_KEY=

# OpenAI
# Used for AI-powered features
OPENAI_API_KEY=

# Sentry
# Used for error tracking
SENTRY_LARAVEL_DSN=


### ============ CLOUD-ONLY ============ ###

PADDLE_VENDOR_ID=
PADDLE_PUBLIC_KEY=
PADDLE_AUTH_KEY=
PADDLE_SANDBOX=

HYVOR_TALK_API_KEY=

# Github themes webhook
GITHUB_THEMES_PUBLISH_KEY=

# Newsletter
EMAIL_OCTOPUS_API_KEY=
