/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/build
/storage/*.key
/--coverage-php
vendor
.env
.env.backup
.env.prod
.phpunit.result.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
/.idea
/.vscode
*LogicType.ts

/cypress/screenshots/
cypress/videos/

# temp files
.DS_Store
