### ============ APP ============ ###

# Environment the app is running.
#   "local" - for development
#   "staging" - for staging deployments
#   "production" - for production deployments
APP_ENV=

# Laravel encryption key
# This key must be the same for all hyvor components (core, talk, blogs)
# It is used to encrypt sensitive data and secure internal communication between components
# Run `php artisan key:generate --show` to generate the key
APP_KEY=

# Enable/disable debugging
# Only set to true on non-production envs
APP_DEBUG=

# URL of the APP
# Only supported https
# For most production deployments, keep it empty
APP_URL=

# deployment type: "cloud" or "on-prem"
DEPLOYMENT=

### ============ DOMAINS ============= ###

# Hyvor Blogs is set up to handle multiple domains.
# Set the following correctly

# Where the main website / API is running (blogs.hyvor.com on cloud)
DOMAIN_APP=
# Base domain for subdomain blogs (hyvorblogs.io on cloud)
# This is deprecated mostly, but still used in some cases
DELIVERY_DOMAIN=
# Same as above, but the protocol is required
# ex: https://hyvorblogs.io
DELIVERY_URL=

### ============ DATABASE ============ ###

# Postgres
# ----
# This is the primary source of truth for the app
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

### ============ FILE STORAGE ============ ###

# You can use any S3-compatibly storage like
# Cloudflare R2, DigitalOcean Spaces, Minio
FILESYSTEM_DRIVER=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_ENDPOINT=
S3_BUCKET=
S3_USE_PATH_STYLE_ENDPOINT=

### ============ MAIL ============ ###

# See laravel docs
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=

### ============ EXTERNAL SERVICES ============ ###

# Unsplash for image search
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=

# DeepL
# Used for translations
DEEPL_API_KEY=

# OpenAI
# Used for AI-powered features
OPENAI_API_KEY=

# Sentry
# Used for error tracking
SENTRY_LARAVEL_DSN=

### ============ CLOUD-ONLY ============ ###

# public URL of the core (https://hyvor.com)
HYVOR_INSTANCE=
# private URL of the core for internal comms (optional)
HYVOR_PRIVATE_INSTANCE=
# Comms API key (must be the same on all components)
COMMS_KEY=

# Paddle configuration
PADDLE_VENDOR_ID=
PADDLE_PUBLIC_KEY=
PADDLE_AUTH_KEY=
PADDLE_SANDBOX=

# Hyvor Blogs + Hyvor Talk
HYVOR_TALK_API_KEY=

# Github themes webhook
GITHUB_THEMES_PUBLISH_KEY=

# Newsletter
EMAIL_OCTOPUS_API_KEY=
