/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/build
/storage/*.key
/storage/debugbar
/--coverage-php
packages/internal
vendor
.env
.env.backup
.env.prod
.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*LogicType.ts
migrationChecksum.txt
ignore

/cypress/screenshots/
cypress/videos/

# temp files
.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
packages/internal

**/caddy
frankenphp
frankenphp-worker.php
