

// for both console and landing pages
.button {
    background: $color-accent;
    color: #fff;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 20px;
    display:inline-block;
    border:1px solid transparent;
    transition: .2s box-shadow;

    &.big {
        padding: 10px 30px;
    }

    &.small {
        font-size: 12px!important;
        padding: 5px 10px;
    }
    &.mini {
        font-size: 11px!important;
        padding: 4px 8px;
    }
    &.tiny {
        padding: 2px 8px;
        font-size: 10px!important;
    }

    &.medium {
        font-size:12px;
        padding:6px 14px;
    }

    &.inactive {
        background: $color-accent-light;
        color: $color-text;
        border-color: $color-accent-light;
    }

    &:hover {
        box-shadow: 0 0 0px 2px $color-accent-light;
    }

    &.secondary {
        background: none;
        color: $color-text-medium;
        border: 1px solid $color-grey;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
        transition:.1s color, .1s border-color;
        &:hover {
            color: $color-text;
            border-color: $color-accent-light;
        }
    }

    &.text-only {
        background-color:transparent;
        color: $color-text;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }


    // colors
    &.danger {
        background: $color-red;
    }
    &.light {
        background-color: $color-grey;
        color: $color-text;
    }
    &.orange {
        background-color: $color-orange-dark;
    }

    &.green {
        background-color: $color-green;
    }
    &.grey {
        background-color: $color-text-light;
        color: $color-text;
    }
}

.icon-button {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f1f1f1;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    border: 0;
    transition: .3s box-shadow;
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    &.active {
        background-color: $color-accent;
        color: #fff;
    }
}