@import '../../colors.scss';

:root {
    --color-input: #{$color-input};
    --color-hover: #{$color-hover};
  }

[data-theme="dark"] {
    --color-input: #{$color-input-dark};
    --color-hover: #{$color-card-dark};
}


label.global-checkbox {

    position: relative; /* to contain absolute elements */
    padding-left:30px; /* free space for custom checkbox */
    cursor: pointer;

    /* hide default checkbox  */
    input[type=checkbox] {
        position: absolute; /* prevent taking any space */
        /* cross-browser hidingg */
        opacity: 0;
        width:0;
        height:0;
    }

    /* custom checkbox */
    span {
        position: absolute;
        /* position to the free space in <label> */
        top:0;
        left:0;
        width:20px; 
        height:20px;
        background-color: var(--color-input);
        border-radius: 2px;
    }

    /* the check icon */
    span:after {
        content: "";
        position: absolute;
        display: none;
        
        /* check icon */
        left: 6px;
        top: 2px;
        width: 4px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    &:hover span {
        background-color: #ccc;
    }
    
    /**** Here's the trick ***/
    input:checked ~ span {
        background-color: $color-accent;
    }

    input:checked ~ span:after {
        display:block;
    }

}