.global-image-selector {

    .image-preview {
        img {
            max-width: 200px;
            max-height: 200px;
        }
        .preview-bottom {
            margin-top: 10px;
        }
        button {
            font-size: 10px!important;
            padding: 3px 8px!important;
            margin-right: 3px;
        }
    }

}