


.popup-wrap {
    all: revert;
    font-size: 14px;
    font-weight: initial;
    color: $color-text;
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    padding: 45px;
    background:rgba(0,0,0,0.5);
    z-index: 1000;
    overflow-y: auto;

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup {
        width:400px;
        margin: auto;
    }

    .popup-footer-single {
        padding: 25px;
        text-align: center;
    }
    .popup-footer-double {
        padding:25px;
        text-align: center;

        button {
            position: relative;
        }
        button:first-child {
            margin-right: 6px;
        }
        .footer-loader {
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 6px;
        }

        &.loading {
            button:last-child {
                pointer-events: none;
            }
        }
    }

    .popup-header-default {
        padding: 25px;
        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
    }
    .popup-body-default {
        padding: 0 25px;
    }
}