
:root {
    --color-box-shadow: #{$color-box-shadow};
    --color-text-light: #{$color-black};
    --color-text: #{$color-white};
  }

[data-theme="dark"] {
    --color-box-shadow: #{$color-box-shadow-dark};
    --color-text-light: #{$color-text-light-dark};
    --color-text: #{$color-black};
}



.popup-wrap {
    all: revert;
    font-size: 14px;
    font-weight: initial;
    color: color(var(--color-text-light));
    position:fixed;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    padding: 45px;
    background: var(--color-box-shadow);
    z-index: 1000000;
    overflow-y: auto;

    &.center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popup {
        width:400px;
        margin: auto;
        max-width: 100%;
    }

    .popup-footer-single {
        padding: 25px;
        text-align: center;
    }
    .popup-footer-double {
        padding:25px;
        text-align: center;

        button {
            position: relative;
        }
        button:first-child {
            margin-right: 6px;
        }
        .footer-loader {
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 6px;
        }

        &.loading {
            button:last-child {
                pointer-events: none;
            }
        }
    }

    .popup-header-default {
        padding: 25px;
        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
    }
    .popup-body-default {
        padding: 0 25px;
    }
}

.code-fullscreen {
    .box-style {
        width: 75%;
        height: 100%;
        overflow: hidden;
    }
    .CodeMirror {
        min-height: 780px;
        height: 780px;
        border-radius: 0%;
        overflow: hidden;
        z-index: 10000000;
        color: var(--color-text);
    }

    .code-fullscreen-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .code-fullscreen-filename{
        margin-left: 3px;
    }
    .fullscreen-exit-button {
        position: relative;
        margin-right: 0px;
        margin-left: auto;
    }

}