
.global-radio-wrap {

    margin-bottom: 10px;

    .radio-container {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: $color-grey;
            border-radius: 50%;
            &:after {
                content: "";
                position: absolute;
                display: none;
                top: 50%;
                left: 50%;
                transform:translate(-50%,-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
            }
        }
        &:hover input ~ .checkmark {
            background-color: $color-radio-background;
        }
        input:checked ~ .checkmark {
            background-color: $color-accent;
        }
        input:checked ~ .checkmark:after {
            display: block;
        }
    }

}