.global-table-view {

    .table-head {
        display: grid;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: 600;
        background: $color-card;
        margin-bottom: 15px;
    }

    .table-row {
        display: grid;
        padding: 10px 15px;
        border-radius: 20px;
        align-items: center;
        &:hover {
            background-color: $color-card;
        }
    }

}

.ProseMirror table {
    border-collapse: collapse;
    margin: 0;
  }


.ProseMirror tr {
    height: 20px;
    width: 150px;
}

.ProseMirror th,
.ProseMirror td {
    width: 150px;
    border: 1px solid #ddd;
    padding: 3px 5px;
}

.ProseMirror .tableWrapper {
    margin: 1em 0;
}

.ProseMirror th {
    font-weight: bold;
    text-align: left;
}

.global-table-load-more {
    text-align: center;
    padding: 15px;
}