.global-table-view {

    .table-head {
        display: grid;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: 600;
        background: $color-card;
        margin-bottom: 15px;
    }

    .table-row {
        display: grid;
        padding: 10px 15px;
        border-radius: 20px;
        align-items: center;
        &:hover {
            background-color: $color-card;
        }
    }

}

.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

.ProseMirror table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
  }

  .ProseMirror table .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }

  .ProseMirror table .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: -2px;
    width: 4px;
    background-color: #adf;
    pointer-events: none;
    cursor: col-resize;
  }


.ProseMirror tr {
    height: 20px;
    width: 150px;
}

.ProseMirror table > * {
  margin-bottom: 0;
}

.ProseMirror th,
.ProseMirror td {
    border: 2px solid #ced4da;
    padding: 3px 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    width: 150px;
    border: 1px solid #ddd;
    padding: 3px 5px;
    p {
        margin-top: 0;
    }
}

.ProseMirror .tableWrapper {
    margin: 1em 0;
}

.ProseMirror th {
    font-weight: bold;
    text-align: left;
}

.global-table-load-more {
    text-align: center;
    padding: 15px;
}