.global-table-view {

    .table-head {
        display: grid;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: 600;
        background: $color-card;
        margin-bottom: 15px;
    }

    .table-row {
        display: grid;
        padding: 10px 15px;
        border-radius: 20px;
        align-items: center;
        &:hover {
            background-color: $color-card;
        }
    }

}

.ProseMirror table {
    margin: 0;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
  }


.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.ProseMirror tr {
    height: 20px;
    width: 150px;
}


.ProseMirror th,
.ProseMirror td {
    width: 150px;
    border: 1px solid #ddd;
    padding: 3px 5px;
    p {
        margin-top: 0;
    }
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.ProseMirror .tableWrapper {
    margin: 1em 0;
}

.ProseMirror th {
    font-weight: bold;
    text-align: left;
}

.global-table-load-more {
    text-align: center;
    padding: 15px;
}

.ProseMirror table .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }