/*
* Light colors
*/
$color-accent: #896c6b;
$color-accent-mid:  #e3cecd;
$color-accent-light: #f1e8e8;
$color-accent-very-light: #fffaf8;
$color-accent-active: #f7f2f0;
$color-box: #fff;
$color-card: #fafafa;

$color-input: #f5f5f5;

$color-grey: #eee; // for inputs and image placheolders
$color-hover: #fafafa; // hover navigation
$color-link: #1d85d2;

$color-text: #000;
$color-text-medium: #444;
$color-text-light: #777;
$color-text-white: #fff;
$color-text-light-grey: #eee;

$color-green-light: #cadfca;
$color-green: #5d995d;
$color-green-dark: #335c33;

$color-red-dark:#ab2525;
$color-red:#db7474;
$color-red-light:#ffdfdf;

$color-orange-dark: #8b5b04;
$color-orange: #f1c40f;
$color-orange-light: #efe3b4;

$color-blue-dark: #334b81;
$color-blue:#5875b9;
$color-blue-light: #dae5ff;

$color-purple-dark: #91598f;
$color-purple-light: #ece0ec;
 
$color-black: #000;
$color-white: #fff;
$color-black-transparent: rgba(0,0,0,0.4);

$color-text-light: #666;

$color-input-error: #d64541;
$color-input-success: #3d9a51;
$color-input-background: #ffe1e0;

$color-editor-red: #EB5757;
$color-editor-background: rgba(135,131,120,0.15);

$color-color-picker-border: #aaa;
$color-editor-border: #eee;
$color-editor-border-bottom: #dddddd;
$color-editor-background: #fcf8e3;
$color-box-shadow: rgba(0,0,0,0.05);
$color-box-shadow2: rgba(0,0,0,0.1);
$color-box-shadow3: rgba(0,0,0,0.2);

$color-check-box: #ccc;

$color-date-picker-background: rbg(239,248,255);

$color-radio-background: #ddd;

$color-billing-background: #886c6b;

$color-doc-red: #f44336;
$color-doc-code-background: #f4f4f4;
$color-doc-code: #EB5757;
$color-doc-synthax: #eaeaea;

$color-footer-twitter: #26a7de;
$color-footer-discord: #7289DA;
$color-footer-item: #555;
$color-footer-link-wrap: #97f9f0;

$color-index-msg: #3F51B5;
$color-index-border:#3F51B5; 

$color-nav: #333232;

$color-pricing-background: #d3d3ff;

$blog-card-shadow-color: #0000000d;


/*
* Dark colors
*/
$color-accent-dark: #5a4544;
$color-accent-mid-dark: #c1aaa9;
$color-accent-light-dark: #838080;
$color-accent-very-light-dark: #0a0a0a;
$color-accent-active-dark: #535353;
$color-box-dark: #222222;
$color-card-dark: #2c2c2c;

$color-input-dark: #818181;

$color-grey-dark: #333;
$color-hover-dark: #2c2c2c;
$color-link-dark: #7ad4ff;

$color-text-dark: #fff;
$color-text-medium-dark: #ccc;
$color-text-light-dark: #999;
$color-text-white-dark: #ffffff;
$color-text-light-grey-dark: #111;

$color-green-light-dark: #81a581;
$color-green-dark-dark: #194719;

$color-red-dark-dark: #691d1d;
$color-red-dark: #b94646;
$color-red-light-dark: #f5cccc;

$color-orange-dark-dark: #5a3a03;
$color-orange-dark: #e9ac1d;
$color-orange-light-dark: #e2d2a5;

$color-blue-dark-dark: #182c4f;
$color-blue-dark: #355d9a;
$color-blue-light-dark: #c1d3ff;

$color-purple-dark-dark: #643d64;
$color-purple-light-dark: #f1dbf1;

$color-black-dark: #fff;
$color-white-dark: #000;
$color-black-transparent-dark: rgba(255,255,255,0.4);

$color-text-light-dark: #999;

$color-input-error-dark: #ff4b48;
$color-input-success-dark: #49b54a;
$color-input-background-dark: #190000;

$color-editor-red-dark: #ff2a2a;
$color-editor-background-dark: rgba(135,131,120,0.15);

$color-color-picker-border-dark: #777;
$color-editor-border-dark: #333;
$color-editor-border-bottom-dark: #444;
$color-editor-background-dark: #201c1c;
$color-box-shadow-dark: rgba(0,0,0,0.2);
$color-box-shadow2-dark: rgba(0,0,0,0.3);
$color-box-shadow3-dark: rgba(0,0,0,0.4);

$color-check-box-dark: #666;

$color-date-picker-background-dark: #161a1d;

$color-radio-background-dark: #222;

$color-billing-background-dark: #574343;

$color-doc-red-dark: #ff2a2a;
$color-doc-code-background-dark: #1c1c1c;
$color-doc-code-dark: #ff2a2a;
$color-doc-synthax-dark: #222;

$color-footer-twitter-dark: #1a91da;
$color-footer-discord-dark: #4f5f7a;
$color-footer-item-dark: #ccc;
$color-footer-link-wrap-dark: #1a2a29;

$color-index-msg-dark: #7378d9;
$color-index-border-dark: #7378d9;

$color-nav-dark: #000;

$color-pricing-background-dark: #555;

$blog-card-shadow-color-dark: #d4d4d40d;
