$color-accent: #896c6b;
$color-accent-light: #f1e8e8;
$color-box: #fdfcfc;

$color-input: #f1e8e8;

$color-grey: #eee; // for inputs and image placheolders
$color-hover: #fafafa; // hover navigation

$color-text: #4a5568;
$color-text-light: #777;


$color-post-scheduled: #4b6ec1;
$color-post-draft: #9b7e14;
$color-post-deleted:#db7474;