$color-accent: #896c6b;
$color-accent-mid:  #e3cecd;
$color-accent-light: #f1e8e8;
$color-accent-very-light: #fffaf8;
$color-box: #fff;

$color-input: #f1e8e8;

$color-grey: #eee; // for inputs and image placheolders
$color-hover: #fafafa; // hover navigation

$color-text: #4a5568;
$color-text-light: #777;


$color-red:#db7474;
$color-green:green;