@import url('https://fonts.bunny.net/css?family=mulish:500,500i,700,700i&display=swap');

$font-primary: Mulish, Avenir, Inter, Helvetica, Arial, sans-serif;
$font-content: Mulish, Avenir, Inter, Helvetica, Arial, sans-serif;

html {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}