@import '../colors.scss';

body.index {
    #hero-home {
        padding-top: 75px;
        padding-bottom: 30px;

        background: $color-accent-light;

        min-height:550px;

        > .container {
            padding-top: 25px;
        }

        .title-and-svg {
            display:flex;
            margin-top: 48px;
            padding-top:25px;

            .hero-title {
                flex:1;
                h1 {
                    font-size: 30px;
                    font-weight: 800;
                    margin-bottom: 15px;
                }
                h2 {
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    font-weight: normal;
                }
                .button {
                    margin-top:25px;
                }
            }
            .hero-svg {
                flex: 2;
            }
        }
    }

    .details-list {
        margin-bottom:120px;
        h3 {
            font-size: 26px;
            text-align: center;
            margin: 30px;
        }
        .details-table-wrap {
            background: #fffaf8;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            overflow: hidden;
            border-radius: 20px;
        }
        .details-table {
            
            display: flex;
            margin:auto;    
            .title {
                flex: 1;
                padding: 30px;
                background: #fff;
                h4 {
                    margin:0;
                }
                .title-description {
                    font-size:14px;
                    color:#777;
                }
            }
            .description {
                flex: 3;
                margin: 0;
                padding: 30px;
                letter-spacing: 0.2px;
                line-height: 23px;
                p {
                    margin-top:0;
                    &.note {
                        font-size: 12px;
                        color: #777;
                    }
                }
                .image-wrap {
                    margin:30px;
                    img {
                        border-radius: 20px;
                        box-shadow: 0 0 40px 20px rgb(0 0 0 / 5%);
                    }
                }
            }

            &:not(:first-child) {
                border-top:1px dashed #896c6b;
            }
        }
    }

    #spam {
        > div {
            margin: 60px auto;
            padding: 30px;
            background: #ffdede;
            border-radius: 20px;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            width:500px;
            max-width:100%;
        }
        h3 {
            text-align: center;
            margin-top: 0;
            margin-bottom:20px;
        }
        p {
            margin:20px;
        }
    }
}