@import '../colors.scss';

body.index {

    #hero-home {
        padding-top: 75px;
        padding-bottom: 30px;

        background: $color-accent-very-light;

        min-height:550px;

        > .container {
            padding-top: 25px;
        }

        .title-and-svg {
            display:flex;
            margin-top: 48px;
            padding-top:25px;

            .hero-title {
                flex:1;
                h1 {
                    font-size: 30px;
                    font-weight: 800;
                    margin-bottom: 15px;
                }
                h2 {
                    font-size: 16px;
                    letter-spacing: 0.3px;
                    font-weight: normal;
                }
                .button {
                    margin-top:25px;
                }
            }
            .hero-svg {
                flex: 2;
                text-align: center;
                height: 90vh;
                margin-top: -80px;
                max-height: 600px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .hero-message-wrap {
            margin-top: 40px;

            .hero-message {
                white-space: nowrap;
                font-size: 12px;
                color: $color-index-msg;
                border: 1px solid $color-index-border;
                border-radius: 5px;
                padding: 4px 8px 4px 8px;
                position: relative;
                font-weight: 600;
            }
        }

        @media screen and (max-width: $tab) {

            .title-and-svg {
                flex-direction: column;
                .hero-svg {
                    margin-top: 40px;
                    flex: initial;
                    max-height: 350px;
                }
            }

        }
    }

    .main-features {

        .feature-row {
            display: flex;
            width: 800px;
            margin: auto;
            max-width: 100%;
        }

        .feature {

            flex: 1;
            padding: 25px;
            text-align: center;

            img {
                width: 140px;
                height: 140px;
            }

            h4 {
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            p {
                width: 350px;
                max-width: 100%;
                margin: 0 auto auto;
            }

        }

        @media screen and (max-width: $tab) {

            .feature-row {
                flex-direction: column;
            }

        }

    }

    .console-preview {

        background-color: $color-accent-very-light;
        width: 100%;
        padding: 40px;

        h2 {
            font-size: 28px;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            width: 600px;
            margin: auto;
            max-width: 100%;
            margin-bottom: 40px;
        }

        img {
            border-radius: 10px;
            display: block;
            box-shadow: 0 0 10px 10px $color-box-shadow;
            width: 900px;
            max-width: 100%;
            height: auto;
            margin: auto;
        }
    }

    .developer-friendly {

        background-color: $color-accent-very-light;
        width: 100%;
        padding: 40px;

        h2 {
            font-size: 28px;
            text-align: center;
            margin-bottom: 60px;
        }

        .developer-options {
            display: flex;
            flex-wrap: wrap;
            width: 800px;
            max-width: 100%;
            margin: auto;
        }
        .developer-option {
            width: 50%;
            padding: 25px;
        }

        .web-frameworks {
            width: 800px;
            max-width: 100%;
            margin: auto;
            margin-top: 40px;
            text-align: center;

            h3 {
                font-size: 20px;
                margin-bottom: 5px;
            }

            .frameworks {
                margin-top: 40px;

                a {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    margin:0 10px;
                }

                img {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 10px;
                }
            }
        }

        @media screen and (max-width: $tab) {

            .developer-options {
                flex-direction: column;
                align-items: center;
            }

            .developer-option {
                width: 100%;
            }

        }

    }

    .details-list {
        margin-bottom:120px;
        h3 {
            font-size: 26px;
            text-align: center;
            margin: 30px;
        }
        .details-table-wrap {
            background: #fffaf8;
            box-shadow: 0 0 30px rgb(0 0 0 / 10%);
            overflow: hidden;
            border-radius: 20px;
            width: 750px;
            max-width: 100%;
            margin: auto;
        }
        .details-table {
            display: flex;
            margin:auto;


            .description {
                flex: 4;
                margin: 0;
                padding: 30px;
                letter-spacing: 0.2px;
                line-height: 23px;
                border-right: 1px solid $color-accent-light;
                h4 {
                    margin-top: 0;
                    font-size: 20px;
                    margin-bottom: 15px;
                    svg {
                        vertical-align: middle;
                        width: 22px;
                        height: 22px;
                        margin-right: 4px;
                        margin-top: -4px;
                    }
                }
                p {
                    margin-top:0;
                    &.note {
                        font-size: 12px;
                        color: $color-text-light;
                    }
                }
                .image-wrap {
                    margin:30px;
                    img {
                        border-radius: 20px;
                        box-shadow: 0 0 40px 20px $color-box-shadow;
                    }
                }
            }

            .links {
                flex: 2;
                padding: 30px;
                color: $color-link;
                font-weight: 600;
                a {
                    display: block;
                    margin-bottom: 7px;
                    &:after {
                        content: "DOCS";
                        font-size: 8px;
                        display: inline-block;
                        padding: 2px 8px;
                        background: #eee;
                        border-radius: 20px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                    &.themes-preview:after {
                        color: $color-purple-dark;
                        background: $color-purple-light;
                        content: "PREVIEW";
                    }
                    &.legal:after {
                        color: $color-red-dark;
                        background: $color-red-light;
                        content: "LEGAL";
                    }
                    &.blog:after {
                      color: $color-orange-dark;
                      background: $color-orange-light;
                      content: "BLOG";
                    }
                    &.none:after {
                        content: none;
                    }
                }
            }


            @media screen and (max-width: $mobile) {
                flex-direction: column;
                .description {
                    border-right: none;
                    padding-bottom: 15px;
                }
                .links {
                    padding-top: 0px;
                }
            }

            &:not(:first-child) {
                border-top: 1px solid $color-accent-light;
            }
        }
    }

    .button-main {
        text-align: center;
        margin-top:100px;
        padding-bottom: 40px;

        .convinced {
            margin: auto;
            margin-bottom: 30px;
            width: 450px;
            max-width: 100%;
        }
    }

    .testimonials {
        margin: auto;
        width: 500px;
        max-width: 100%;

        .quote {
            position: relative;
            margin: 30px 0;
            background: #fff;
            box-shadow: 0 0 20px rgba(0,0,0,0.06);
            border-radius: 20px;
            padding: 30px;

            .beaver {
                position: absolute;
                right: 40px;
                bottom: 100%;
                width: 100px;
                height: 100px;
                transform: translateY(50px) rotate(-25deg);
                z-index: -1;
            }

        }

        .person {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .name-description {
                display: flex;
                flex-direction: column;
            }
            .name {
                font-size: 18px;
                font-weight: 600;
            }
            .description {
                color: $color-footer-item;
            }
        }

        .text {
            margin-top: 15px;
            line-height: 22px;
        }

    }

}