.new-blog-scene {

    .popup-wrap {
        background-color: $color-accent-very-light !important;
        .popup {
            position:relative;
        }
    }

    .back-button {
        padding: 10px 0;
        position: absolute;
        bottom: 100%;
        left: 0;
    }

    .onboarding-body {
        .your-blog {
            font-size: 14px;
            text-align: right;
        }
        .subdomain-rules {
            font-size:12px;
        }
    }

}