@import '../../colors.scss';

:root {
    --color-accent-very-light: #{$color-accent-very-light};
    --text-color: #{$color-black};
  }
  
[data-theme="dark"] {
    --color-accent-very-light: #{$color-accent-very-light-dark};
    --text-color: #{$color-white};
}

.new-blog-scene {

    .popup-wrap {
        background-color: var(--color-accent-very-light) !important;
        .popup {
            position:relative;
        }
    }

    .box-style {
        color: var(--text-color);
    }

    .back-button {
        padding: 10px 0;
        position: absolute;
        bottom: 100%;
        left: 0;
    }

    .onboarding-body {
        .your-blog {
            font-size: 14px;
            text-align: right;
        }
        .subdomain-rules {
            font-size:12px;
        }
    }

    button {
        color: var(--text-color)!important;
    }

}