.theme-view {

    .middle-heading {
        justify-content: center;
        border-bottom:1px solid $color-accent-light;
        margin-bottom: 25px!important;
        padding-bottom: 25px!important;
    }

    .theme-left-wrap {
        flex:1;
        overflow: auto;
    }

    .theme-left-bottom {
        padding: 15px;
        text-align: center;
        border-top:1px solid $color-accent-light;
    }

    .theme-bottom {
        padding: 15px;
        display: flex;
        justify-content: center;
        border-top: 1px solid $color-accent-light;
        button:first-child {
            margin-right: 5px;
        }
    }

    .theme-folders {

        padding:10px 30px;
        overflow: auto;

        .folder {
            margin-bottom: 2px;
            .folder-name {
                font-weight: 600;
                cursor: pointer;
                padding:4px;
                display: flex;
                align-items: center;
                user-select: none;
                .fold-icon {
                    margin-right: 5px;
                    margin-top: -2px;
                    svg {width:10px}
                }
            }
            .folder-files {
                overflow: hidden;
                height:0;
                padding: 0;
                &.unfolded {
                    padding: 5px 15px;
                    padding-top: 0;
                    height:initial;
                }
            }

            &.root {
                .folder-files {
                    padding-left: 0;
                }
            }
        }

        .file-creator {
            padding: 4px 15px;
            .new {
                font-size: 10px;
                font-weight: 600;
                color: $color-text-light;
                cursor: pointer;
                margin-right: 10px;
            }

            .new-file-name {
                display: flex;
                align-items: center;
                input {
                    padding: 3px 10px;
                    font-size: 12px;
                    flex: 1;
                    margin-right: 3px;
                }
                .buttons {
                    span {
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 22px;
                        height: 22px;
                        font-size: 16px;
                        border-radius: 50%;
                        &.inactive {
                            pointer-events: none;
                            opacity: 0.4;
                        }
                        &:hover {
                            background-color: $color-hover;
                        }
                    }
                }
            }
        }

        .file {
            padding: 4px 15px;
            cursor: pointer;
            border-radius: 20px;
            &:hover {
                background-color: $color-hover;
            }
            &.active {
                background-color: $color-accent-active;
            }
        }

    }

    .file-preview {
        overflow: auto;
        display: flex;
        flex-direction: column;
        height: 100%;

        .file-name {
            text-align: center;
            color: $color-text-light;
            font-weight: 600;
            padding: 10px;
            border-bottom: 1px solid $color-accent-light;
        }

        .text-editor {
            flex:1;
            overflow: auto;
            .CodeMirror {
                padding: 10px 0 60px 0;
                border-radius: 0;
                height: 100%;
            }
        }

        .asset-image-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 30px 50px;
            min-width: 0;
            overflow: hidden;
        }

        .no-preview {
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            color: $color-text-light;
            .open-url {
                margin-top: 5px;
                font-size: 14px;
                color: $color-link;
            }
        }

    }

    .theme-changer {
        .preview-themes-row {
            font-size: 14px;
            margin-top: 4px;
        }
        .list-item {
            padding: 5px 15px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: normal;
            font-size: 14px;
            &:hover {
                background-color: $color-hover;
            }
        }
    }

}