
.welcome-view {

    overflow:hidden;
    height:100%;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        text-align: center;
        font-size: 26px;
        padding: 30px 20px 30px 20px;
        border-bottom: 1px solid $color-accent-light;
    }

    .content-wrap {
        display: flex;
        flex: 1;
        align-items: flex-start;
        overflow: hidden;
    }

    .blogs-list {
        padding: 20px;
        overflow: auto;
        max-height: 100%;
    }
    .blogs-list-title {
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        padding-bottom: 20px;
        color: $color-text-light;
    }

    .blogs-list-list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .blog-card {
        max-width: 100%;
        margin: 0 5px 20px 5px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 0 10px rgb(0 0 0 / 5%);
        width: calc(33.3% - 10px);

        &.dev {
            background-color: fade-out($color-blue-light, 0.8);
        }

        .top-row {
            display: flex;
            align-items: center;
            .icon {
                height: 50px;
                flex-shrink: 0;
            }
            img, .icon-placeholder {
                width: 50px;
                height: 50px;
                display: inline-block;
                border-radius: 50%;
                line-height: 0;
            }
            .icon-placeholder {
                background: #eee;
            }
            .name-url {
                margin-left: 8px;
                overflow: hidden;
                .name {
                    font-size: 16px;
                    font-weight: 600;
                }
                .name, .url {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .data-cards {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;
        .data-card {
            width: 50%;
            .card-name {
                font-size:12px;
                color: $color-text-light;
            }
            .card-value {
                font-weight: 600;
                text-transform: capitalize;
            }
        }
    }

    .blog-create {
        padding: 10px;
        text-align: center;
    }

    .links {
        width: 275px;
        padding: 20px;
        border-left: 1px solid $color-accent-light;
        height: 100%;
    }
    .links-title {
        font-weight: 600;
        font-size: 16px;
    }
    .links-list {
        display: flex;
        flex-direction: column;
        margin: 10px 0 30px 0;
        a {
            padding: 4px 15px;
            color: $color-link;
            font-weight: 600;
            display: block;
            border-radius:20px;
            &:hover {
                background-color: $color-hover;
            }
        }
    }

}