:root.blogs {
	--accent: #896c6b;
	--accent-light: #e3cecd;
	--accent-lightest: #fffaf8;

	/* extra */
	--accent-light-mid: #f7f2f0;
	--background: #fcfcfc;
}

::view-transition-group(*) {
	animation-duration: 200ms;
}

::view-transition-old(*) {
	animation-timing-function: ease-out;
}

::view-transition-new(*) {
	animation-timing-function: ease-out;
}
