{
	frankenphp
    log {
        output stderr
        level {$LOG_LEVEL}
    }
    metrics
    auto_https disable_redirects
}

(handle_php) {
	root * /app/backend/public
	encode zstd gzip
	php_server {
        file_server off
        worker {
			file /app/backend/public/index.php
		}
        env CADDY_ROUTER {args[0]}
    }
}

# hyvorblogs.io subdomain
# see run script for DELIVERY_DOMAIN
*.{$DELIVERY_DOMAIN}:80 {
	import handle_php subdomain
}

# main app
# see run script for APP_ADDRESS / APP_TLS_DIRECTIVE (from TLS_MODE)
{$APP_ADDRESS}, http://localhost:8081 {

	{$APP_TLS_DIRECTIVE}
	{$MERCURE_DIRECTIVE}

	@backend {
		path /api/*
		path /blog/*
	}

	handle @backend {
		import handle_php app
	}

	@static {
		file
		path *.ico *.css *.js *.gif *.webp *.avif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.mov
	}
	header @static Cache-Control max-age=5184000

	# static files
	handle {
		root * /app/static
		file_server {
			pass_thru
		}
		encode zstd gzip
		try_files {path} {path}.html
	}

	# fallback
	handle {
		root * /app/static
		encode zstd gzip
		file_server
		header Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
		rewrite * /fallback.html
	}
}

# local endpoints
http://localhost:8080 {
	import handle_php local
}

# custom domain
:443, :80 {
	tls {
		get_certificate http http://localhost:8080/api/local/caddy-certificate
	}
	import handle_php customdomain
}

# caddy / frankenphp metrics
:9666 {
    metrics
}