{
    on_demand_tls {
        ask https://{$DOMAIN_APP}/api/special/caddy/allowed-domain
    }
}

# hyvorblogs.io subdomain
*.{$DOMAIN_DELIVERY}:80 {
    root * /var/www/app/backend/public
    encode zstd gzip
    php_fastcgi unix//run/php-fpm.sock
}

# main app
{$DOMAIN_APP}:80 {
    handle /api/* {
        root * /var/www/app/backend/public
        php_fastcgi unix//run/php-fpm.sock
    }
    handle {
        root * /var/www/app/frontend/build
        file_server {
            pass_thru
        }
        encode zstd gzip
        try_files {path} {path}.html
    }
    handle {
        root * /var/www/app/frontend/build
        encode zstd gzip
        file_server
        rewrite * /200.html
    }
}

# custom domain
http://, https:// {

    tls {
        on_demand
    }

	root * /var/www/app/backend/public
    encode zstd gzip
    php_fastcgi unix//run/php-fpm.sock

}