{
    on_demand_tls {
        ask https://blogs.hyvor.com/special/caddy/allowed-domain
    }
}


hyvorblogs.io {
    redir https://blogs.hyvor.com
}

*.hyvorblogs.io {

    root * /var/www/current/public
    encode zstd gzip

    tls {
        dns cloudflare {$CLOUDFLARE_API_TOKEN}
    }

    php_fastcgi unix//run/php/php8.1-fpm.sock

}

blogs.hyvor.com:80, blogs-beta.hyvor.com:80 {

    root * /var/www/current/public
    encode zstd gzip
    file_server
    php_fastcgi unix//run/php/php8.1-fpm.sock

}

http:// {
  	redir https://{host}{uri}
}

https:// {

    tls {
        on_demand
    }

	root * /var/www/current/public
    encode zstd gzip
    php_fastcgi unix//run/php/php8.1-fpm.sock

}