
.links-analysis {

    .no-results-wrap {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

    .header {
        .title {
            margin-bottom: 10px;
            display: flex;
            .title-left {
                flex: 1;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .summary {
            & > span {
                flex: 1;
                display: inline-flex;
                align-items: center;
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 12px;
                margin-right: 5px;
                .number {
                    font-weight: 600;
                    margin-right: 3px;
                }
                svg {
                    margin-left: 4px;
                }
            }
        }
    }

    .links {
        .link-wrap {
            display: flex;
            padding: 10px 0;
            align-items: center;
            border-bottom: 1px solid $color-accent-very-light;

            .link-name {
                flex: 1;
                min-width: 0;
                word-wrap: break-word;
                margin-right: 5px;
                .link-url {
                    font-size: 13px;
                    a {
                        color: $color-link;
                        text-decoration: underline;
                    }
                }
                .link-type-wrap {
                    margin-top: 3px;
                }
                .link-type {
                    background-color: #eee;
                    display: inline-block;
                    padding: 3px 10px;
                    border-radius: 20px;
                    font-size: 9px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            .link-buttons {
                margin-left: 10px;
                .disabled {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }

        }
    }

}

.global-link-status-tag {
    display: inline-flex;
    align-items: center;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: 600;
    text-transform: uppercase;
    .status {
        font-size: 10px;
        margin-right: 3px;
    }
    .icon {
        font-size: 10px;
        display: inline-flex;
        align-items: center;
    }
}

.links-analysis .summary > span, .global-link-status-tag {
    &.ok {
        background-color: $color-green-light;
        color: $color-green-dark;
    }
    &.redirect {
        background-color: $color-orange-light;
        color: $color-orange-dark;
    }
    &.broken, &.error {
        background-color: $color-red-light;
        color: $color-red-dark;
    }
    &.ignored {
        background-color: #eee;
        color: #000;
    }
}