/* 

.settings-view-wrap {
    position:absolute;
    top: 40px;
    width:100%;
    left:0;
    z-index: 1;
    transition:.125s transform, .125s opacity;
    &.active {
        pointer-events: auto;
        opacity: 1;
        transform:initial; // transform 0 causes child fixed elements to be relative to this element
    }
    &.inactive {
        pointer-events: none;
        opacity: 0;
        transform:translateY(-10px);
    }
    .setting-select {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid $color-accent-light;
        span {
            cursor: pointer;
            display: inline-block;
            padding: 4px 10px;
            font-size: 12px;
            border-radius: 20px;
            transition: .1s background, .1s color;
            &.active {
                font-weight: 600;
                background: $color-accent;
                color: #fff;
            }
        }
    }
    .setting-show {
        padding:20px;
    }


    .post-editor-settings-view {
        background: $color-box;
        box-shadow: 0 0 40px 20px rgb(0 0 0 / 6%);
        margin-right: 60px;
        min-height: 200px;
        border-radius: 20px;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            left: 30px;
            bottom: 100%;
            border: 10px solid $color-box;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
    }

    .post-setting {
        margin-bottom:15px;
        flex:1;
        .post-setting-title {
            font-weight: 600;
            margin-bottom: 5px;
        }

        &.post-setting-description textarea {
            height: 150px;
            padding: 15px;
            margin: 0px;
            resize: none;
        }
        &.post-setting-featured-image .featured-image {
            height:150px;      
            background: $color-input;
            border-radius: 20px;
            .image-preview {
                width: 100%;
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position:relative;
            }
            .no-image {
                cursor:pointer;
                color: $color-text-light;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .delete-button {
                position: absolute;
                top: 10px;
                right: 10px;
                background: $color-red;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                opacity: 0;
                transition:.3s opacity;
            }
            &:hover {
                .delete-button {
                    opacity: 1;
                }
            }
        }
        &.post-setting-publish-time {
            .not-published {
                margin-top: 10px;
                color: $color-text-light;
            }
        }
    }
    .post-setting-dual {
        display: flex;
        .post-setting:first-child {
            margin-right:15px;
        }
    }

    .CodeMirror {
        height: 150px;
    }

} */

.post-settings-wrap {

    .setting-select {
        text-align: center;
        //border-bottom: 1px solid $color-accent-light;
        padding-bottom: 20px;
        button {
            all: unset;
            cursor: pointer;
            display: inline-block;
            padding: 4px 10px;
            font-size: 12px;
            border-radius: 20px;
            transition: .1s background, .1s color;
            &.active {
                font-weight: 600;
                background: $color-accent;
                color: #fff;
            }
        }
    }

    .post-setting {
        display: flex;
        .post-setting-left {
            flex: 1;
            padding-top: 10px;
        }
        .post-setting-title {
            font-weight: 600;
        }
        .post-setting-content {
            flex: 3;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }


        // other
        .description-input {
            min-height: 100px;
        }
        .featured-image {
            height:150px;      
            background: $color-input;
            border-radius: 20px;
            .no-image {
                cursor: pointer;
                color: $color-text-light;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &.publish-time .not-published {
            margin-top: 10px;
            color: $color-text-light;
        }

        &.has-top-padding .post-setting-content  {
            padding-top: 10px;
        }

        &.code .CodeMirror {
            height: 200px;
        }
    }

    .post-authors {

        display: flex;

        .left {
            flex: 1;
        }

        .post-author {
            padding: 4px 8px;
            background-color: $color-input;
            border-radius: 20px;
            display: inline-flex;
            align-items: center;
            margin-right: 5px;
            margin-bottom: 5px;
            vertical-align: middle;
            .name {
                vertical-align: middle;
                margin-left: 5px;
            }
            .remove {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
                margin-left: 5px;
                cursor: pointer;
                border-radius: 50%;
                font-weight: 600;
                &:hover {
                    background-color: $color-red;
                    color: $color-white;
                }
            }
        }
        .no-authors {
            color: $color-text-light;
        }

        .author-adder {
            vertical-align: top;
            position: relative;
            .plus {
                display: inline-flex;
                width: 25px;
                height: 25px;
                background-color: $color-input;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-weight: 600;
                &:hover {
                    background-color: $color-grey;
                }
            }

            .adder-popup {
                position: absolute;
                top: 100%;
                right: 0;
                margin-top: 5px;
                width: 300px;
                background-color: $box-color;
                border-radius: $box-radius;
                box-shadow: $box-shadow;
                z-index: 10;
                padding: 15px;
                .no-users {
                    padding: 40px;
                    color: $color-text-light;
                    text-align: center;
                }
                .users {
                    margin-top: 5px;
                    max-height: 300px;
                    overflow-y: auto;
                }
                .user {
                    padding: 6px 14px;
                    display: flex;
                    align-items: center;
                    border-radius: 20px;
                    cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: .95rem;
                    .name {
                        margin-left: 5px;
                    }
                    &:hover {
                        background-color: $color-hover;
                    }
                    &.already-author {
                        opacity: 0.3;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .post-tags {
        .create-tag {
            padding: 5px 10px;
            text-align: center;
            button {
                font-weight: normal;
                .name {
                    font-weight: 600;
                }
            }
        }
    }
    
}

.post-settings-save {
    padding: 15px 25px;

    .changed {
        text-align: center;
        color: $color-text-light;
        text-transform: capitalize;
        margin-bottom: 10px;
        .changed-title {
            font-weight: 600;
        }
    }
    .save-discard {
        text-align: center;
        button:first-child {
            margin-right: 5px;
        }
        button {
            .global-loader {
                margin-left: 5px;
            }
        }
    }
}