$margin: 20px;
$fontSize: 30px;
$color: rgb(0, 255, 42); 
$fontType:url(assets/regular.woff2);

.hyvor{
    color: $color;
    margin:$margin;
    font-size: $fontSize;
    background-color: rgb(28, 97, 109);
    text-align: center;
}
h3{
    padding: 5px;
}
.language{
    color: $color;
    background-color: rgb(26, 15, 15);
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.tags{
    color: $color;
    background-color: rgb(141, 75, 75);
    margin: 20px;
    text-align: center;
    padding: 10px; 
}

.functions{
    color: $color;
    background-color: rgb(75, 82, 141);
    margin: 20px;
    text-align: center;
    padding: 10px; 
}

$bodyColor : #dde668; 
$anotherColor : #33fd0f; 

body {
    background-color:$bodyColor ;
}
p { 
    font-size: 120%; 
    color: rgb(3, 148, 51); 
    text-align: center;
}
                
ul { 
    background-color: $anotherColor;
}