$bodyColor : #dde668; 
$anotherColor : #33fd0f; 

body {
    background-color:$bodyColor ;
}
p { 
    font-size: 120%; 
    color: rgb(3, 148, 51); 
    text-align: center;
}
                
ul { 
    background-color: $anotherColor;
}